div.animal{
  /* border: 2px solid blue; */
  border-radius: 15px;
  padding: 20px;
  background-color: #eaeaea;
}

div.foto{
  background-color: #aaa;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

div.info{
  /* border: 2px solid white; */
  padding-left: 20px;
}
