body{
  background-color: #eeeeee;
}
h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.formulario{
  background: #fefefe;
}


.imagem-usuario{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 175px;
  height: 175px;
  border-radius: 30px;
  background: #bbbbbb;
  margin-bottom: 30px;
}
#div-foto{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
#txt_foto{
  color: white;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

button#btn_cadastrar{
  background-color:#43A047;
  border: 0;
  font-weight: bold;
}

.sub-form{
  padding: 20px;
}
.sub-form h2{
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}
