.imagem-animal{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 175px;
  height: 175px;
  border-radius: 30px;
  background: #bbbbbb;
  margin-bottom: 30px;
}
#txt_foto{
  color: white;
}

#div-foto{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

button#btn_cadastrar{
  background-color: #43A047;
  border: 0;
  font-weight: bold;
}

h1.titulo{
  text-align: center;
}
