
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/background-login-2.jpg");
  font-weight: bolder;
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 50px;
  margin: 0 auto;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 10px;
}

/*.form-signin .checkbox {
  font-weight: 400;
}*/

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-control:focus {
  z-index: 2;
}
input{
  margin-bottom: 10px;
  border-radius: 5px;
}

button#btn_entrar{
  background-color: #43A047;
  border: 0;
  margin-bottom: -35px;
  font-weight: bold;
}

.link{
  color: #43A047;
}
