div.collapse{
    align-items: center;
}

a{
  color: white;
}

a:hover{
  color: #eeeeee;
}



/* span#drop{
    margin-right: 30px;
} */

/* div.dropdown-menu{
    align-self: flex-start;
    width: 300px;
} */

div#menu{
    text-align: center;
    /* margin-left: -130px; */
    padding: 5px;
}

/* div#menu button{
    margin-top: 10px;
    width: 140px;
    margin-bottom: 5px;
} */

#nav-input{
  width: 400px;
}
