html, body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: url("/res/img/dust_scratches.png");
  /* background-color: #fffdf7; */
  font-size: 11pt;
}

.body--login{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #eaeaea;
  font-weight: bolder;
  text-align: center;
  margin-top: 0px;
}

.link{
  color: #f57c00;
}

  .link:hover{
    font-weight: bold;
    color: #f57c00;
    text-decoration: none;
  }

/* .form{

} */

  .form--theme-login{
    width: 100%;
    margin: auto;
    background-color: rgba(250, 250, 250, 0.9);

    border-radius: 10px;
    border: 1px solid #dddddd;
  }

  .form--size-sm{
    max-width: 450px;
  }
  .form--size-md{
    max-width: 750px;
  }

.form-control, .custom-select, .custom-file-input{
  border-radius: 20px;
  min-height: 40px;
  padding-left: 28px;
  padding-right: 28px;
}

.btn{
  border-radius: 20px;
}

.sidebar__link{
  color: #222;
  /* width: 80%; */
  text-align: left;
}

.sidebar__link:hover{
  color: #f57c00;
  text-decoration: none;
}

  .sidebar__link--status-selected{
    color: #f57c00;
    font-weight: bold;
  }

.sidebar__title{
  font-size: 13pt;
  font-weight: bold;
  color: #666;
  text-align: center;
}

.card-body{
  padding-top: 7px;
}
.card-header{
  background-color: #fcfcfc !important; 
}
.fa-angle-right{
  margin-right: 10px;
}