<!DOCTYPE html>

<html lang="pt" dir="ltr">

    <head>
        {include="pages/header"}
    </head>

    <body class="body--page-logged">
        {include="pages/navbar"}


        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-5 my-3">
                    <div class="list-group">
                        <li class="list-group-item sidebar__title">
                            Notificações recentes
                        </li>

                        {loop="$pedidosAnimais"}
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row align-items-center">
                                    <div class="col-3"> 
                                        <img src="/res/img/{$value.foto}" alt="..." width="55" height="55"
                                        class="rounded-circle"> 
                                    </div>
                    
                                    <div class="col-9"> 
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="">{$value.ani_nome}</h5>
                                            <small class="text-muted">{$value.diferenca_string}</small>
                                        </div>
                                        
                                        <span class="text-muted">Status: {$value.sta_nome}</span>
                                    </div>
                                </div>    
                            </a>
                        {/loop}

                    </div>
                </div>
                <!-- div.col -->

                <div class="col-lg-8 col-md-7 my-3">
                    <div class="list-group">

                        <li class="list-group-item sidebar__title">
                            Notificações de (nome do animal)
                        </li>

                        <a href="#" class="list-group-item list-group-item-action">
                            
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-3 pl-4 "> 
                                    <img src="/res/img/{$fotoUsuario}" alt="..." width="55" height="55" 
                                        class="rounded-circle"> 
                                </div>
                
                                <div class="col-lg-10 col-9 pr-4"> 
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Nome do usuário</h5>
                                        <small class="text-muted"> horário </small>
                                    </div>
                                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                    
                                </div>
                            </div>
                            
                        </a>

                    </div>
                </div>
                <!-- div.col -->

            </div>
            <!-- div.row -->
            
        </div>
        <!-- container -->
        {include="pages/footer"}
    </body>
</html>