<!DOCTYPE html>

<html lang="pt" dir="ltr">

    <head>
        {include="pages/header"}
    </head>

    <body class="body--page-logged">
        {include="pages/navbar"}


        <div class="container">

            <ul>
                <li>
                    Trazer todos os animais do usuário com requisições, ordenado por data do pedido.
                    (mesma sentença que busca os 3 mais recentes, porém sem o LIMIT e sem o JOIN com o usuário [só precisa do ID])
                </li>
                <li>
                    Criar classe controller para carregar os pedidos do animal clicado.
                </li>
            </ul>
            
        </div>
        <!-- container -->
        {include="pages/footer"}
    </body>
</html>