<!DOCTYPE html>

<html lang="pt" dir="ltr">

    <head>
        {include="pages/header"}
    </head>

    <body class="body--page-logged">
        {include="pages/navbar"}


        <div class="container">

            <div class="row">

                <div class="col-md-4 my-3">
                    <div class="list-group">
                        <!-- <a href="#" class="list-group-item list-group-item-action active">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a> -->
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-3"> 
                                    <img src="/res/img/{$fotoUsuario}" alt="..." width="55" height="55" class=""
                                        style="border-radius:100%;border:1px solid #ccc"> 
                                </div>
                
                                <div class="col-9"> 
                                    <h5 class="ml-2 mt-2">Nome do Animal</h5>
                                    <span class="ml-2 text-muted">Status: (Status)</span>
                                    <br>
                                    
                                    
                                </div>
                            </div>        
                            <div class="float-right"><small class="text-muted">3 days ago</small></div>                          
                            
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-3"> 
                                    <img src="/res/img/{$fotoUsuario}" alt="..." width="55" height="55" class=""
                                        style="border-radius:100%;border:1px solid #ccc"> 
                                </div>
                
                                <div class="col-9"> 
                                    <h5 class="ml-2 mt-2">Nome do Animal</h5>
                                    <span class="ml-2 text-muted">Status: (Status)</span>
                                    <br>
                                    
                                    
                                </div>
                            </div>        
                            <div class="float-right"><small class="text-muted">3 days ago</small></div>                          
                            
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-3"> 
                                    <img src="/res/img/{$fotoUsuario}" alt="..." width="55" height="55" class=""
                                        style="border-radius:100%;border:1px solid #ccc"> 
                                </div>
                
                                <div class="col-9"> 
                                    <h5 class="ml-2 mt-2">Nome do Animal</h5>
                                    <span class="ml-2 text-muted">Status: (Status)</span>
                                    <br>
                                    
                                    
                                </div>
                            </div>        
                            <div class="float-right"><small class="text-muted">3 days ago</small></div>                          
                            
                        </a>
                    </div>
                </div>
                <!-- div.col -->

                <div class="col-md-8 my-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
                <!-- div.col -->

            </div>
            <!-- div.row -->

            <!-- <ul>
                <li>
                    Trazer todos os animais do usuário com requisições, ordenado por data do pedido.
                    (mesma sentença que busca os 3 mais recentes, porém sem o LIMIT e sem o JOIN com o usuário [só precisa do ID])
                </li>
                <li>
                    Criar classe controller para carregar os pedidos do animal clicado.
                </li>
            </ul> -->
            
        </div>
        <!-- container -->
        {include="pages/footer"}
    </body>
</html>