<!DOCTYPE html>

<html lang="pt" dir="ltr">

    <head>
        {include="pages/header"}
        <link rel="stylesheet" href="/node_modules/croppie/croppie.css">
        <style>
            #my-image, #use {
                display: none;
            }
        </style>
    </head>

    <body>
        {include="pages/navbar"}

        <div class="container mt-3">
            <div class="card border-success">
                <h5 class="card-header bg-success text-white">Adicionar imagem para _nome-do-animal_</h5>
                <div class="card-box">
                    <div class="row mt-4">
                        <div class="col-md-6 col-sm-12">
                            <div class="px-4 mb-4">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="upload_image"
                                        id="upload_image" accept="image/*" />
                                    <label class="custom-file-label" for="customFile">Escolha uma foto</label>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-success btn-block crop_image">
                                            Cortar e salvar imagem
                                        </button>                                        
                                    </div>
                                    <br><br>
                                    <div class="col">
                                        <button class="btn btn-secundary btn-block">
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div id="image_demo"></div>
                        </div>
                    </div>
                    
                    
                       
                </div>
            </div>
        </div>

        {include="pages/footer"}
        <script src="/node_modules/exif-js/exif.js"></script>
        <script src="/node_modules/croppie/croppie.js"></script>
        <script>
            $(document).ready(function(){

                $image_crop = $('#image_demo').croppie({
                    enableExif: true,
                    viewport: {
                        width:200,
                        height:200,
                        type:'square'
                    },
                    boundary:{
                        width:250,
                        height:250
                    }
                });

                $('#upload_image').on('change', function(){
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        $image_crop.croppie('bind', {
                            url: event.target.result
                        }).then(function(){
                            console.log('jQuery bind complete');
                        });
                    }
                    reader.readAsDataURL(this.files[0]);
                });

                $('.crop_image').click(function(event){
                        $image_crop.croppie('result', {
                        type: 'canvas',
                        size: 'viewport'
                    }).then(function(response){
                        $.ajax({
                            url:"/animal/save-img/",
                            type: "POST",
                            data:{"image": response},
                            success:function(data)
                            {
                                $('#uploadimageModal').modal('hide');
                                $('#uploaded_image').html(data);
                            }
                        });
                    })
                });
            });  
        </script>
    </body>
</html>