<!DOCTYPE html>

<html lang="pt" dir="ltr">

    <head>
        {include="pages/header"}
        <link rel="stylesheet" href="/node_modules/croppie/croppie.css">
        <style>
            .required{
                color: #ff1744;
                font-size: 12pt;
                vertical-align: middle;
            }
        </style>
    </head>

    <body class="body--page-logged">
        {include="pages/navbar"}

        <div class="container my-3">
            <div class="card">
                <h5 class="card-header">Adicionar animal</h5>

                <div class="card-body px-4">
                    <form method="POST" onsubmit="animalController.createAnimal(event)" id="form-create-animal">

                        <p id="div-alert-erro"></p>

                        <!-- INPUT DA ESPECIE E DO STATUS -->
                        <div class="form-row mt-2">                                               
                                <!-- INPUT DO STATUS -->
                                <div class="col-lg-6 col-md-12 form-group">
                                    <label for="inputNomeAnimal">Nome
                                        <span class="required">*</span>
                                    </label>
                                    <input name="ani_nome" type="text" class="form-control" id="inputNomeAnimal"
                                        placeholder="Insira o nome do animal" required>
                                </div>
                                                                
                                <!-- INPUT DA ESPECIE -->
                                <div class="col-lg-6 col-md-12 form-group">
                                        <label for="inputEspecieAnimal">Especie  <span class="required">*</span></label>
                                        <select name="esp_id" id="inputEspecieAnimal" class="custom-select">
                                            <option selected value=""> --- Selecione a espécie --- </option>                                        
                                            {loop="$especies"}
                                                <option value="{$value.esp_id}">{$value.esp_nome}</option>
                                            {/loop}
                                        </select>
                                </div>

                                
                            <!-- ./LINHA DO NOME, ESPECIE E STATUS -->
                        </div>
                        <!-- ./FORM-ROW -->

                        <!-- LINHA DA FAIXA ETÁRIA E SEXO -->
                        <div class="form-row mt-2">

                            <!-- INPUT DO SEXO -->
                            <div class="col-lg-4 md-12 form-group">
                                    <label for=""> Sexo  <span class="required">*</span> </label>
                                    <br>
                                    <div class="custom-control custom-radio custom-control-inline mt-2">
                                        <input value="F" type="radio" id="ani_sexo_f" name="ani_sexo" class="custom-control-input">
                                        <label class="custom-control-label" for="ani_sexo_f">Fêmea</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input value="M" type="radio" id="ani_sexo_m" name="ani_sexo" class="custom-control-input">
                                        <label class="custom-control-label" for="ani_sexo_m">Macho</label>
                                    </div>
                            </div>

                            <!-- INPUT DA FAIXA ETÁRIA -->
                            <div class="col-lg-4 md-12 form-group">
                                    <label for="inputFaixaEtaria"> Faixa etária  <span class="required">*</span></label>
                                    <select name="fai_id" id="inputFaixaEtaria" class="custom-select">
                                        <option selected value=""> --- Selecione a faixa etária --- </option>
                                        {loop="$faixa_etaria"}
                                            <option value="{$value.fai_id}">{$value.fai_nome}</option>
                                        {/loop}
                                    </select>
                            </div>

                             <!-- INPUT DO PORTE -->
                             <div class="col-lg-4 col-md-12 form-group">
                                    <label for="inputPorteAnimal">Porte  <span class="required">*</span></label>
                                    <select name="por_id" id="inputPorteAnimal" class="custom-select">
                                        <option selected value=""> --- Selecione o porte --- </option>
                                        {loop="$porte"}
                                            <option value="{$value.por_id}">{$value.por_nome}</option>
                                        {/loop}
                                    </select>
                            </div>                            

                        </div>
                        <!-- ./FORM-ROW -->

                        <!-- LINHA DE UF E CIDADE -->
                        <div class="form-row mt-2">

                            <!-- INPUT DE UF -->
                            <div class="col-lg-6 col-md-12 form-group">   
                                
                                <label for="inputUf">Estado <span class="required">*</span> </label>
                                
                                <select name="ani_uf" id="inputUf" class="custom-select" onchange="popularCidade()">
                                    <option selected value="">Selecione seu estado</option>
                                </select>

                            </div>

                            <!-- CONFIRMAÇÃO DE CIDADE -->
                            <div class="col-lg-6 col-md-12 form-group">  
                                
                                <label for="inputCidade">Cidade <span class="required">*</span> </label>
                                
                                <select name="ani_cidade" id="inputCidade" class="custom-select">
                                    <option selected value="">Selecione sua cidade</option>
                                </select>

                            </div>
                        </div>

                        <!-- INPUT DE OUTRAS INFORMAÇÕES -->
                        <div class="form-row mt-2">
                            <div class="col form-group">
                                <label for="inputInformacoesAnimal"> Outras informações </label>
                                <textarea name="ani_informacoes" class="form-control" id="inputInformacoesAnimal" rows="5"
                                placeholder="Escreva um texto que informe para as pessoas sobre características sobre seu animal :)"></textarea>
                                          
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                    <button type="submit" class="btn btn-success px-4"> Salvar</button>
                            </div>
                            <div class="col text-right">
                                <span style="color: #ff1744">
                                     <span class="required">*</span> Campos obrigatórios 
                                </span>
                            </div>
                        </div>
                        
                    </form>

                </div>
            </div>
        </div>        

         <!-- Modal -->
         <div class="modal fade" id="croppie-modal" tabindex="-1" role="dialog" 
            aria-labelledby="croppie-modal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-success text-white">
                            <h5 class="modal-title" id="exampleModalLabel">Alterar imagem</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                                        
                            <!-- PREVIEW DA IMAGEM -->
                            <div id="image_demo" class="mt-3" style="height:290px"></div>

                            <!-- INPUT -->
                            <div class="px-3 my-2">
                                <div class="custom-file">
                                    <input id="inputFotoAnimal" type="file" class="custom-file-input" name="upload_image"
                                        accept="image/*" onchange="animalController.loadImage(this)"/>
                
                                    <label class="custom-file-label" for="customFile">
                                        Escolher foto
                                    </label>
                                </div>
                            </div>
                            <!-- ./ INPUT DA FOTO -->

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success" 
                            onclick="animalController.updatePhoto()">Salvar foto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" 
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                
            </div>
        </div>
        </div>

         

        {include="pages/footer"}
        
        <script src="/node_modules/exif-js/exif.js"></script>
        <script src="/node_modules/croppie/croppie.js"></script>
        <script src="/res/js/model/Animal.js"></script>
        <script src="/res/js/controller/AnimalController.js"></script>

        <script type="module">

import getEstadosCidades from '/res/js/services/estados_cidades.js';
            
            function popularUF(data)
            {
                // Get the parent node
                let parent = document.querySelector('#inputUf');

                data.forEach(estado => {

                    // novoElemento
                    let el = document.createElement('option');
                    el.textContent = estado.nome;
                    el.value = estado.sigla;

                    // Insert the new node after the last element in the parent node
                    parent.append(el);

                    
                });

                if("{$uf}" != null){
                    parent.value="{$uf}";

                    popularCidade();
                }
            }

            function popularCidade() {
                let inputUf = document.querySelector('#inputUf');

                let uf = inputUf.options[inputUf.selectedIndex].value;

                let data = getEstadosCidades();

                let parent = document.querySelector('#inputCidade');

                while(parent.firstChild){
                    parent.removeChild(parent.firstChild);
                }

                data.forEach(estado => {

                    if(estado.sigla == uf){
                        

                        estado.cidades.forEach(cidade =>{

                            //novo elemento
                            let el = document.createElement('option');
                            el.textContent = cidade;
                            el.value = cidade;

                            parent.append(el);
                        });
                    }
                });

                if("{$cidade}" != null) parent.value="{$cidade}";
            };

            popularUF(getEstadosCidades());

            document.querySelector('#inputUf').onchange = () => {
                let inputUf = document.querySelector('#inputUf');

                let uf = inputUf.options[inputUf.selectedIndex].value;

                let data = getEstadosCidades();

                let parent = document.querySelector('#inputCidade');

                while(parent.firstChild){
                    parent.removeChild(parent.firstChild);
                }

                data.forEach(estado => {

                    if(estado.sigla == uf){
                        

                        estado.cidades.forEach(cidade =>{

                            //novo elemento
                            let el = document.createElement('option');
                            el.textContent = cidade;
                            el.value = cidade;

                            parent.append(el);
                        });
                    }
                });
            };
        
        </script>

        <script>

            let animalController = new AnimalController();

        </script>

    </body>
</html>