<!DOCTYPE html>

<html lang="pt" dir="ltr">

    <head>
        {include="pages/header"}
    </head>

    <body>
        {include="pages/navbar"}

        <div class="container mt-3">
            <div class="card border-success">
                <h5 class="card-header bg-success text-white">Adicionar animal</h5>

                <div class="card-body px-4">
                    <form>

                        <!-- INPUT DO NOME -->
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="inputNomeAnimal">Nome</label>
                                <input name="ani_nome" type="text" class="form-control" id="inputNomeAnimal"
                                    placeholder="Insira o nome do animal" required>
                            </div>                                
                        </div>

                        <!-- LINHA DA ESPÉCIE E DO SEXO -->
                        <div class="form-row">

                            <!-- INPUT DA ESPÉCIE -->
                            <div class="col-lg-6 md-12 form-group">
                                    <label for="inputEspecieAnimal">Especie</label>
                                    <select name="esp_id" id="inputEspecieAnimal" class="custom-select">
                                        <option selected> Selecione a espécie </option>
                                        <option value="1"> Cachorro </option>
                                        <option value="2"> Gato </option>
                                    </select>
                            </div>

                            <!-- INPUT DO SEXO -->
                            <div class="col-lg-6 md-12 form-group">
                                    <label for="inputSexoAnimal">Sexo</label>
                                    <select name="ani_sexo" id="inputSexoAnimal" class="custom-select">
                                        <option selected> Selecione o sexo </option>
                                        <option value="F"> Fêmea </option>
                                        <option value="M"> Macho </option>
                                    </select>
                            </div>
                        </div>

                        <!-- LINHA DA FAIXA ETÁRIA E STATUS -->
                        <div class="form-row">

                            <!-- INPUT DA FAIXA ETÁRIA -->
                            <div class="col-lg-6 md-12 form-group">
                                    <label for="inputFaixaEtaria"> Faixa etária </label>
                                    <select name="ani_faixa_etaria" id="inputFaixaEtaria" class="custom-select">
                                        <option selected> Selecione a faixa etária </option>
                                        <option value="1"> Filhote </option>
                                        <option value="2"> Comum </option>
                                        <option value="3"> Velho </option>
                                    </select>
                            </div>

                            <!-- INPUT DO STATUS -->
                            <div class="col-lg-6 md-12 form-group">
                                    <label for="inputStatusAnimal">Status</label>
                                    <select name="ani_sexo" id="inputStatusAnimal" class="custom-select">
                                        <option selected> Selecione o status </option>
                                        <option value="1"> Em adoção </option>
                                        <option value="2"> Perdido </option>
                                    </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <label for="exampleFormControlTextarea1"> Outras informações </label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                placeholder="Escreva um texto que informe para as pessoas sobre características sobre seu animal :)"></textarea>
                                          
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success px-4"> Salvar</button>
                    </form>

                </div>

            </div>
        </div>

        

        {include="pages/footer"}
    </body>
</html>