<!DOCTYPE html>

<html lang="pt" dir="ltr">

    <head>
        {include="pages/header"}
        <link rel="stylesheet" href="/node_modules/croppie/croppie.css">
        <style>
            .required{
                color: #ff1744;
                font-size: 20pt;
                vertical-align: middle;
            }
        </style>
    </head>

    <body>
        {include="pages/navbar"}

        <div class="container my-3">
            <div class="card border-success">
                <h5 class="card-header bg-success text-white">Adicionar animal</h5>

                <div class="card-body px-4">
                    
                    {$animal.ani_nome}
                    <br>
                    {$foto}

                </div>
            </div>
        </div>        

        {include="pages/footer"}
    </body>
</html>