<!DOCTYPE html>

<html lang="pt" dir="ltr">

    <head>
        {include="pages/header"}
    </head>

    <body>
        {include="pages/navbar"}

        <div class="container mt-3">
            <div class="card border-success">
                <h5 class="card-header bg-success text-white">Adicionar animal</h5>

                <div class="card-body px-4">
                    <form method="POST">

                        <!-- INPUT DO NOME -->
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="inputNomeAnimal">Nome</label>
                                <input name="ani_nome" type="text" class="form-control" id="inputNomeAnimal"
                                    placeholder="Insira o nome do animal" required>
                            </div>                                
                        </div>

                        

                        <!-- LINHA DA ESPÉCIE E DO SEXO -->
                        <div class="form-row">

                            <!-- INPUT DO SEXO -->
                            <div class="col-lg-4 md-12 form-group">
                                    <label for=""> Sexo </label>
                                    <br>
                                    <div class="custom-control custom-radio custom-control-inline mt-2">
                                        <input value="F" type="radio" id="ani_sexo_f" name="ani_sexo" class="custom-control-input">
                                        <label class="custom-control-label" for="ani_sexo_f">Fêmea</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input value="M" type="radio" id="ani_sexo_m" name="ani_sexo" class="custom-control-input">
                                        <label class="custom-control-label" for="ani_sexo_m">Macho</label>
                                    </div>
                            </div>

                            <!-- INPUT DA ESPÉCIE -->
                            <div class="col-lg-8 md-12 form-group">
                                    <label for="inputEspecieAnimal">Especie</label>
                                    <select name="esp_id" id="inputEspecieAnimal" class="custom-select">
                                        <option selected> --- Selecione a espécie --- </option>                                        
                                        {loop="$especies"}
                                            <option value="{$value.esp_id}">{$value.esp_nome}</option>
                                        {/loop}
                                    </select>
                            </div>

                            
                        </div>

                        <!-- LINHA DA FAIXA ETÁRIA E STATUS -->
                        <div class="form-row">

                            <!-- INPUT DA FAIXA ETÁRIA -->
                            <div class="col-lg-4 md-12 form-group">
                                    <label for="inputFaixaEtaria"> Faixa etária </label>
                                    <select name="ani_faixa_etaria" id="inputFaixaEtaria" class="custom-select">
                                        <option selected> --- Selecione a faixa etária --- </option>
                                        {loop="$faixa_etaria"}
                                            <option value="{$key}">{$value}</option>
                                        {/loop}
                                    </select>
                            </div>

                             <!-- INPUT DO PORTE -->
                             <div class="col-lg-4 md-12 form-group">
                                    <label for="inputPorteAnimal">Porte</label>
                                    <select name="ani_porte" id="inputPorteAnimal" class="custom-select">
                                        <option selected> --- Selecione o porte --- </option>
                                        {loop="$porte"}
                                            <option value="{$key}">{$value}</option>
                                        {/loop}
                                    </select>
                            </div>

                            <!-- INPUT DO STATUS -->
                            <div class="col-lg-4 md-12 form-group">
                                    <label for="inputStatusAnimal">Status</label>
                                    <select name="ani_status" id="inputStatusAnimal" class="custom-select">
                                        <option selected> --- Selecione o status --- </option>
                                        {loop="$status"}
                                            <option value="{$key}">{$value}</option>
                                        {/loop}
                                    </select>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <label for="exampleFormControlTextarea1"> Outras informações </label>
                                <textarea name="ani_informacoes" class="form-control" id="exampleFormControlTextarea1" rows="5"
                                placeholder="Escreva um texto que informe para as pessoas sobre características sobre seu animal :)"></textarea>
                                          
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success px-4"> Salvar</button>
                    </form>

                </div>

            </div>
        </div>        

        {include="pages/footer"}
    </body>
</html>