<!DOCTYPE html>
<html lang="pt">
    <head>
        {include="pages/header"}
    </head>
    <body>

        {include="pages/navbar-deslogado"}

        <form class="cadastro-form-signup p-5" method="post">
            <h1 class="h3 mb-3 cadastro-titulo font-weight-bold"> Cadastre-se </h1><br>
            
            <!-- INPUT DO NOME -->
            <label for="inputNome" class="sr-only">Nome completo</label>
            <input name="nome" type="text" id="inputNome" class="cadastro form-control"
                placeholder="Nome completo" required autofocus>
        
            <!-- INPUT DO EMAIL -->
            <label for="inputEmail" class="sr-only">Email</label>
            <input name="email" type="email" id="inputEmail" class="cadastro form-control"
                placeholder="Email" required>
        
            <!-- INPUT DE SENHA -->
            <label for="inputSenha" class="sr-only">Senha</label>
            <input name="senha" type="password" id="inputSenha" class="cadastro form-control"
                placeholder="Senha" required >
        
            <!-- CONFIRMAÇÃO DE SENHA -->
            <label for="inputSenhaConfirm" class="sr-only">Senha</label>
            <input name="senhaConfirm" type="password" id="inputSenhaConfirm" class="cadastro form-control"
                placeholder="Confirmar senha" required >
            
            <button class="btn btn-lg btn-success btn-block login-btn-entrar m-1" type="submit" >Cadastrar <i class="fa fa-user-plus"></i></button>
            {if="$erro != NULL"}
                <div class="alert alert-danger mt-3" role="alert">
                    {$erro}
                </div>
            {/if}
        </form>

        {include="pages/footer"}
</body>
</html>