<!DOCTYPE html>

<html lang="pt" dir="ltr">

    <head>
        {include="pages/header"}
        <link rel="stylesheet" href="/res/css/sidebar.css">
    </head>

    <body>
        {include="pages/navbar"}


        <div class="container">
            <div class="row">
                <button class="btn btn-secundary btn-block mt-3 mx-3 d-md-none"> Filtrar </button>

                <div class="col-3 p-3 d-none d-md-block">
                    {include="pages/sidebar"}
                </div>
                <!-- col-3 -->

                <div class="col">
                    <div class="row pt-3">

                        <!-- Início do loop -->
                        <div class="col-xl-4 col-sm-6 col-xs-12 mb-3">

                            <div class="card" id="card-id" onclick="abrirModal(this)">
                        
                                <div class="container-img">
                                        <img class="card-img-top" src="#" alt="Card image cap">
                                        <div class="overlay">
                                            <div class="text">
                                                Ver detalhes
                                            </div>
                                        </div>
                                </div>
                                <!-- div.container-img -->
                                
                                <div class="card-body">
        
                                    <h5 class="card-title">
                                        <span class="font-weight-bold">Nome do Animal</span>,
                                        <span class="font-italic">Espécie do animal</span>
                                    </h5>
                                    
                                    <p class="card-text mb-2 font-weight-bold">
                                        
                                    </p> 
        
                                    <p class="card-text mb-2 font-weight-bold">
                                        
                                        <!-- If = F -->
                                            <span style="color:#f06292">Fêmea</span> 
                                        <!-- else -->
                                        <span style="color:blue">Macho</span>
                                        <!-- end if -->
                                    </p>
                                    
                                    <p class="card-text">
                                        <span class="font-weight-bold">Status:</span>
                                        status
                                    </p>
                                    
                                </div>
                                <!-- div.card-body -->
                            </div>
                            <!-- div.card -->

                        </div>  
                        <!-- Fim do loop -->

                    </div>
                    <!-- row publicacao -->
                </div>
                <!-- col-9 -->

            </div>
            <!-- row -->
        </div>
        <!-- container-fluid -->
        {include="pages/footer"}
    </body>
</html>