<!DOCTYPE html>
<html lang="pt" dir="ltr">

    <head>

        {include="pages/header-deslogado"}

    </head>

    <body class="login-body">

        {include="pages/navbar-deslogado"}

        <form class="login-form-signin p-5" method="POST">

            <h1 class="h4 mb-3 font-weight-bold" >Bem vindo ao Find a Pet!</h1>
            <h2 class="h5 mb-3 text-muted">Doe ou adote um novo amigo</h2>

            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="email" type="email" id="inputEmail" class="login form-control" placeholder="Email" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input name ="senha" type="password" id="inputPassword" class="login form-control" placeholder="Senha" required>

            <button class="btn btn-lg btn-success btn-block login-btn-entrar m-1" type="submit">
                Entrar <i class="fa fa-sign-in-alt"></i>
            </button>
            
            {if="$erro != NULL"}
                <div class="alert alert-danger mt-3" role="alert">
                    {$erro}
                </div>
            {/if}

            
            
        </form>

        {include="pages/footer"}

    </body>
</html>