<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Find a Pet </title>

  <link rel="stylesheet" href="/find-a-pet/res/css/vendor/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/find-a-pet/res/css/vendor/font-awesome/fontawesome-all.css">
  <link rel="stylesheet" href="/find-a-pet/res/css/estilo-deslogado.css">

  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


</head>

<body class="login-body">

  {include="navbar-deslogado"}
