<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title> Find a Pet </title>

<link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/res/css/vendor/font-awesome/fontawesome-all.css">
<link rel="stylesheet" href="/res/css/estilo.css">

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.css">