<!-- Inicio da navbar superior -->
<nav class="navbar navbar-expand-lg navbar-dark p-1" style="background-color: #43A047;">
<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> -->

  <!-- Div com container para deixar os itens mais centralizados -->
  <div class="container-fluid">

    <!-- Brand: Título principal -->
    <a class="navbar-brand navbar-link" href="#">Find a Pet </a>

    <!-- Colapse principal -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerPrincipal" aria-controls="navbarTogglerPrincipal" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Conteudo dentro do colapse principal -->
    <div class="collapse navbar-collapse" id="navbarTogglerPrincipal">

      <!-- Links -->
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link navbar-link" href="#"> Logar </a>
        </li>

        <li class="nav-item">
          <a class="nav-link navbar-link" href="#"> Cadastrar </a>
        </li>
      </ul>

    </div>
    <!-- Fim do colapse principal -->

  </div>
</nav>
<!-- Termino da navbar superior -->
