<style>
.card-header{
    background-color: #fcfcfc !important; 
}

.item-filtro{
    color: #222;
}
.item-filtro:hover{
    color: #f57c00;
    text-decoration: none;
}

#title-sidebar{
    font-size: 14pt;
    font-weight: bold;
    color: #999;
    text-align: center;

}
</style>

<div class="accordion" id="menu-filtro">

        <div class="card">
                <div class="card-header">
                    <h3 class="mb-0 p-1" id="title-sidebar">
                         Filtros
                    </h3>
                </div>
            </div>

        <div class="card">
                <div class="card-header" id="headingOn">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed item-filtro" type="button" data-toggle="collapse" 
                        data-target="#collapseOn" aria-expanded="false" aria-controls="collapseOn">
                        <i class="fas fa-paw"></i> Espécie
                        </button>
                    </h2>
                </div>
        
                <div id="collapseOn" class="collapse" aria-labelledby="headingOn" data-parent="#menu-filtro">
                    <div class="card-body">
                            {loop="$especies"}
      
                            <div class="custom-control custom-checkbox">
                              <input value="{$value.esp_id}" type="checkbox" onchange="homeController.load()"
                               class="custom-control-input check-especie" id="especie-{$value.esp_id}">
                              <label class="custom-control-label" for="especie-{$value.esp_id}"> {$value.esp_nome} </label>
                            </div>
                    
                          {/loop}  
                    </div>
                </div>
            </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed item-filtro" type="button" data-toggle="collapse" 
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-venus-mars"></i> Sexo
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#menu-filtro">
            <div class="card-body">
                
                <!-- CHECKBOX FÊMEA -->
              <div class="custom-control custom-checkbox">
                    <input value="'F'" type="checkbox"  onchange="homeController.load()" 
                    class="custom-control-input check-sexo" id="sexo-f">
                    <label class="custom-control-label" for="sexo-f"> Fêmea </label>
                  </div>
          
                  <!-- CHECKBOX MACHO -->
                  <div class="custom-control custom-checkbox">
                    <input value="'M'" type="checkbox" onchange="homeController.load()" 
                    class="custom-control-input check-sexo" id="sexo-m">
                    <label class="custom-control-label" for="sexo-m"> Macho </label>
                  </div>

            </div>
        </div>
    </div>

    <div class="card">

        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed item-filtro" type="button" data-toggle="collapse" 
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fas fa-cog"></i> Status
                </button>
            </h2>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#menu-filtro">
            <div class="card-body">
                
                    {loop="$status"}
      
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="status-{$value.sta_id}">
                      <label class="custom-control-label" for="status-{$value.sta_id}"> {$value.sta_nome} </label>
                    </div>
            
                  {/loop}  

            </div>
        </div>
        
    </div>

    <div class="card">
        <div class="card-header" id="headingfour">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed item-filtro" type="button" data-toggle="collapse" 
                data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                <i class="fas fa-cog"></i> Porte
                </button>
            </h2>
        </div>

        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#menu-filtro">
            <div class="card-body">
                
                    {loop="$porte"}
    
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="porte-{$value.por_id}">
                        <label class="custom-control-label" for="porte-{$value.por_id}"> {$value.por_nome} </label>
                    </div>
            
                    {/loop} 

            </div>
        </div>
    </div>

    <div class="card">
            <div class="card-header" id="headingfive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed item-filtro" type="button" data-toggle="collapse" 
                    data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    <i class="far fa-envelope"></i> Faixa Etária
                    </button>
                </h2>
            </div>
    
            <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#menu-filtro">
                <div class="card-body">
                    
                        {loop="$faixaEtaria"}
      
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="faixa-{$value.fai_id}">
                <label class="custom-control-label" for="faixa-{$value.fai_id}"> {$value.fai_nome} </label>
              </div>
      
            {/loop}  
    
                </div>
            </div>
        </div>

        <div class="card">
                <div class="card-header" id="headingsix">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed item-filtro" type="button" data-toggle="collapse" 
                        data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                        <i class="far fa-envelope"></i> Localização
                        </button>
                    </h2>
                </div>
        
                <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#menu-filtro">
                    <div class="card-body">
                        
                          
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="uf">
                        <label class="custom-control-label" for="uf"> Mesmo Estado </label>
                      </div>
            
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="cidade">
                        <label class="custom-control-label" for="cidade"> Mesma Cidade </label>
                      </div>
        
                    </div>
                </div>
            </div>

</div>