<div class="menu">
	  
  <li class="item" id='especie'>
    <a href="#especie" class="botao"><i class="far fa-user"></i>Espécie</a>
    <div class="smenu">
      <a href="#">Cachorro</a>
      <a href="#">Gato</a>
    </div>
  </li>
  
  <li class="item" id="sexo">
    <a href="#sexo" class="botao"><i class="fas fa-cog"></i>Sexo</a>
    <div class="smenu">
      <a href="#">Fêmea</a>
      <a href="#">Macho</a>
    </div>
  </li>

  <li class="item" id="status">
    <a href="#status" class="botao"><i class="fas fa-cog"></i>Status</a>
    <div class="smenu">
      <a href="#">Em adoção</a>
      <a href="#">Perdido</a>
    </div>
  </li>

  <li class="item" id="porte">
    <a href="#porte" class="botao"><i class="fas fa-cog"></i>Porte</a>
    <div class="smenu">
      <a href="#">Pequeno</a>
      <a href="#">Médio</a>
      <a href="#">Grande</a>
    </div>
  </li>

  <li class="item" id="faixa-etaria">
    <a href="#faixa-etaria" class="botao"><i class="far fa-envelope"></i>Faixa Etária</a>
    <div class="smenu">
      <a href="#">Filhote</a>
      <a href="#">Comum</a>
      <a href="#">Velho</a>
    </div>
  </li>

  <li class="item">
    <a class="botao" href="#"><i class="fas fa-sign-out-alt"></i>Fechar</a>
  </li>

</div>